.bar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 48px;
  padding: 4px;
  padding-left: 20px;
  display: flex;
  font-size: 40px;
  color: white;
  text-decoration: none;
  background-color: rgb(60, 60, 60);
  color: beige;
}
.bar a {
  text-decoration: none;
  color: black;
}
.bar .baritem {
  margin-left: auto;
  margin-right: auto;
}
