.bar {
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;
  height: max-content;
  padding: 4px;
  display: flex;
  font-size: 2rem;
  text-decoration: none;
  background-color: rgb(100, 100, 100);
}
.bar a:hover {
  color: sliver;
}
.bar a {
  margin: auto;
  text-decoration: none;
  color: black;
}
.baritem {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1000px) {
  .bar {
    font-size: 5vw;
  }
}
